# Ignore dataset images
*.jpg
*.png
data/

# Ignore heavy PyTorch model checkpoints
*.pth
*.pt

# Ignore feather files and yaml files
*.feather
*.yaml

#ignore logs
logs/
*.log

#ignore Label Files
*.csv

# Ignore python cache
__pycache__/
.ipynb_checkpoints/

carla_overview_DOCUMENT.pdf
2026.zip
carla-dataset-file-structure.txt
complete_file_structure.txt
file-structure.py